html, body {
  width: 100%;
  height: 100%;
}

div {
  header.mdl-layout__header {
    background: rgba(0, 0, 0, .9);
    .mdl-layout__header-row {
      .mdl-navigation__link:first-of-type {
        padding-left: 0;
      }
      .mdl-navigation__link:last-of-type {
        padding-right: 0;
      }
    }
  }
}

main {
  width: 100%;
  height: 100%;
  .page-content {
    width: inherit;
    height: inherit;

    .content {
      width: 90%;
      margin: 20px auto;
      min-height: 35px;

      &.row {
        border-bottom: 1px solid;
        border-bottom-color: #ccc;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border: none;
        }
      }

      &.table {
        display: table;
        .table-left {
          display: table-cell;
        }
        .table-right {
          display: table-cell;
        }

        &.veritcal {
          &:before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }
        }
        .veritcal-child {
          display: inline-block;
          &.top {
            vertical-align: top;
          }
          &.middle {
            vertical-align: middle;
          }
          &.bottom {
            vertical-align: bottom;
          }
        }
      }

    }

    #signin, #signup {
      margin: 0 auto;
      width: 50%;
      height: 100%;
      text-align: center;
      color: #CCC;
      .title {
        margin: 10px 0;
      }
      .input {
        .mdl-textfield {
          display: block;
        }
      }
      .confirm {
        width: 300px;
        button {
          color: #CCC;
          font-size: 1.1rem;
          &:hover {
            color: rgba(158, 158, 158, .4);
          }
        }
      }
    }

    #ctrl {
      .mdl-textfield--align-right.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable {
        &:after {
          content: " ";
          display: inline-block;
          margin-left: 32px;
        }
      }
      button.mdl-button {
        color: rgba(92, 92, 92, 0.9);
        span {
          vertical-align: middle;
        }
      }
    }

    #pages-index {
      font-size: 1.1rem;
      color: #ccc;

      .pages-ctrl {
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            color: #a4a4a4;
          }
        }
        ul.all {
          display: inline-block;
          padding: 0;
          li {
            display: inline-block;
            padding: 0 2px;
            a {
              text-decoration: none;
              color: inherit;
              &:hover {
                color: #a4a4a4;
              }
            }
          }
        }
      }
    }

    #data-list {

      table.mdl-data-table {
        width: 100%;
        thead {
          tr {
            th {
              font-size: 1.1rem;
              #sort{
                padding: 0;
                min-width: 0;
                color:#CCC;
              }
            }
          }
        }
        tbody{
          tr{
            td:not(:first-child){
              padding: 12px 34px 12px 18px;
            }
          }
        }

      }
    }

  }
}