html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#center {
  display: table;
  height: inherit;
  width: inherit;
  text-align: center;
}
#center:before {
  content: " ";
  display: table-row;
}
#center > * {
  margin: 0 auto;
}

.dashboard {
  width: 200px;
  background: rgba(255, 255, 255, 0.6);
  height: inherit;
  position: fixed;
  left: 0;
  z-index: 10;
}
.dashboard .dashboard-setting {
  margin: 50px 10px;
}
.dashboard .dashboard-setting .setting {
  margin: 20px 0;
}
.dashboard .dashboard-setting .setting h2 {
  color: #585858;
}
.dashboard .dashboard-setting .setting select {
  height: 10rem;
}
.dashboard .dashboard-setting .setting button {
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 10px;
  border-radius: 5px;
}
.dashboard .dashboard-setting .setting .setting-form {
  width: 180px;
}
.dashboard .dashboard-setting .setting .setting-table {
  display: table;
  width: 100%;
}
.dashboard .dashboard-setting .setting .setting-table .cell {
  display: table-cell;
}
.dashboard .dashboard-setting .setting .setting-table.setting-click_method .click_method h3 {
  display: inline;
}

.content {
  height: inherit;
  width: 100%;
  position: relative;
}
.content #map {
  height: inherit;
}
.content .ctrl#center {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  z-index: 9;
}
.content .ctrl#center.active {
  display: table;
}
.content .ctrl#center .result {
  width: 50%;
  height: 500px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  position: relative;
  z-index: 1;
}
.content .ctrl#center .result textarea {
  background: none;
  border: none;
  height: 100%;
}
.content .ctrl#center .leave {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
