html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#center {
  display: table;
  height: inherit;
  width: inherit;
  &:before {
    content: " ";
    display: table-row;
  }

  text-align: center;

  > * {
    margin: 0 auto;
  }
}

.dashboard {
  width: 200px;
  background: rgba(255, 255, 255, .6);
  height: inherit;
  position: fixed;
  left: 0;
  z-index: 10;
  .dashboard-setting {
    margin: 50px 10px;
    .setting {
      margin: 20px 0;
      h2 {
        color: #585858;
      }
      select {
        height: 10rem;
      }
      button {
        background: rgba(0, 0, 0, .2);
        padding: 2px 10px;
        border-radius: 5px;
      }
      .setting-form {
        width: 180px;
      }

      .setting-table {
        display: table;
        width: 100%;
        .cell {
          display: table-cell;
        }
        &.setting-click_method {
          .click_method {
            h3 {
              display: inline;
            }

          }
        }
      }
    }

  }
}

.content {
  height: inherit;
  width: 100%;
  position: relative;
  #map {
    height: inherit;
    //width: 50%;
  }
  .ctrl#center {
    display: none;

    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    z-index: 9;
    &.active {
      display: table;
    }
    .result {
      width: 50%;
      height: 500px;
      background: rgba(255, 255, 255, .1);
      padding: 10px;
      position: relative;
      z-index: 1;
      textarea {
        background: none;
        border: none;
        height: 100%;
      }
    }
    .leave {
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}