<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>

<body>
<div class="dashboard">
    <div class="dashboard-setting">
        <div class="setting">
            <h2>記錄</h2>

            <div class="setting-table">
                <div class="cell">
                    <button id="loadSave" onclick="main.class.add(document.getElementsByClassName('ctrl'),'active');
                    document.getElementById('data_text').value = loadSave()">載入&儲存
                    </button>
                </div>
            </div>
        </div>
        <div class="setting">
            <h2>預設半徑距離/尺</h2>
            <input id="distance" class="setting-form" onchange="distance(this)" value="10000"/>
        </div>
        <div class="setting">
            <h2>點擊時</h2>

            <form class="setting-click_method setting-table" onchange="setMethod(method.value)">
                <div class="click_method cell">
                    <input type="radio" name="method" id="circle-method" value="circle" checked/>

                    <h3>圓範圍</h3>
                </div>
                <div class="click_method cell">
                    <input type="radio" name="method" id="marker-method" value="marker"/>

                    <h3>定位點</h3>
                </div>
            </form>
        </div>
        <div class="setting">
            <h2>定位</h2>
            <select id="marker" class="setting-form" multiple></select>
            <button id="del_marker">刪除</button>
        </div>
        <div class="setting">
            <h2>範圍</h2>
            <select id="circle" class="setting-form" onclick="scanMarkerInCircle(this.value)" multiple></select>
            <button id="del_circle">刪除</button>
        </div>
        <div class="setting">
            <h2>範圍內<span id="circle_inner_count"></span></h2>
            <select id="circle_inner" class="setting-form" multiple></select>
        </div>
    </div>
</div>

<div class="content">
    <div id="map"></div>
    <div id="center" class="ctrl">
        <div class="result">
            <textarea id="data_text" onchange="loadSave(this.value,true)"></textarea>
        </div>
        <span class="leave" onclick="main.class.remove([this.parentElement],'active')"></span>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlKd88rchwxVU1wGJxBBurPVS5byw1tKU&callback=initMap&libraries=geometry">

</script>
<script src="js/main.min.js"></script>

<script>
    function init() {
        document.getElementById('circle').innerHTML = '';
        document.getElementById('marker').innerHTML = '';
        _distance = 10000;
        config = {
            center: {lat: 23.5948856, lng: 119.8960512},
            zoom: 9
        };
        data = {};
        initMap();
    }

    function getSelected(element) {
        var values = [];
        for (var index = 0; index < element.length; index++) {
            if (element[index].selected) {
                values.push(element[index].value);
            }
        }
        return values;
    }

    function distance(element) {
        if (!isNaN(element.value)) {
            _distance = element.value || _distance;
        }
    }

    function select_option(_class, value) {
        var element = document.getElementById(_class);

        if (value) {
            element.querySelector('option[value="' + value + '"]').selected = true;
            return;
        }
        for (var index = 0; index < element.length; index++) {
            element[index].selected = false;
        }
    }

    function loadSave(_data, load) {

        if (load) {
            init();
            data = JSON.parse(_data);
            for (var _key in data) {
                action(_key, data[_key]);
            }
            return;
        }
        return JSON.stringify(data);
    }

    function _del(element, indexs) {
        if (Array.isArray(indexs)) {
            indexs.map(function (value) {
                element.remove(element.querySelector('option[value="' + value + '"]').index);
            });
            return;
        }
        _del(element, [indexs]);
    }

    function addHandle(_class, index, value) {
        var element = document.getElementById(_class);

        main.add({element: element},
                {
                    tag: 'option',
                    attr: {value: value},
                    content: index
                });

        element.scrollTop = element.scrollHeight;
    }

    function setMethod(value) {
        action_type = value;
    }

    function scanMarkerInCircle(_key) {
        var totalInArea = 0;

        document.getElementById('circle_inner').innerHTML = '';
        for (var key in marker) {
            if (getWhich(circle[_key], marker[key])) {
                addHandle('circle_inner', data[key].value.lat.toFixed(3) + String(',') + data[key].value.lng.toFixed(3), _key);
                totalInArea++;
            }
        }
        document.getElementById('circle_inner_count').innerHTML = totalInArea;
    }

    document.getElementById('del_marker').onclick = function () {
        var element = document.getElementById('marker');
        _del(element, drawMarker(getSelected(element)));
    };

    document.getElementById('del_circle').onclick = function () {
        var element = document.getElementById('circle');
        _del(element, drawCircle(getSelected(element)));
    };

</script>
</body>

</html>