html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#center {
  display: table;
  height: inherit;
  width: inherit;
  text-align: center;
}
#center:before {
  content: " ";
  display: table-row;
}
#center > * {
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
