html, body {
  width: 100%;
  height: 100%;
}

div header.mdl-layout__header {
  background: rgba(0, 0, 0, 0.9);
}
div header.mdl-layout__header .mdl-layout__header-row .mdl-navigation__link:first-of-type {
  padding-left: 0;
}
div header.mdl-layout__header .mdl-layout__header-row .mdl-navigation__link:last-of-type {
  padding-right: 0;
}

main {
  width: 100%;
  height: 100%;
}
main .page-content {
  width: inherit;
  height: inherit;
}
main .page-content .content {
  width: 90%;
  margin: 20px auto;
  min-height: 35px;
}
main .page-content .content.row {
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
}
main .page-content .content.row:first-child {
  padding-top: 0;
}
main .page-content .content.row:last-child {
  border: none;
}
main .page-content .content.table {
  display: table;
}
main .page-content .content.table .table-left {
  display: table-cell;
}
main .page-content .content.table .table-right {
  display: table-cell;
}
main .page-content .content.table.veritcal:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
main .page-content .content.table .veritcal-child {
  display: inline-block;
}
main .page-content .content.table .veritcal-child.top {
  vertical-align: top;
}
main .page-content .content.table .veritcal-child.middle {
  vertical-align: middle;
}
main .page-content .content.table .veritcal-child.bottom {
  vertical-align: bottom;
}
main .page-content #signin, main .page-content #signup {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #CCC;
}
main .page-content #signin .title, main .page-content #signup .title {
  margin: 10px 0;
}
main .page-content #signin .input .mdl-textfield, main .page-content #signup .input .mdl-textfield {
  display: block;
}
main .page-content #signin .confirm, main .page-content #signup .confirm {
  width: 300px;
}
main .page-content #signin .confirm button, main .page-content #signup .confirm button {
  color: #CCC;
  font-size: 1.1rem;
}
main .page-content #signin .confirm button:hover, main .page-content #signup .confirm button:hover {
  color: rgba(158, 158, 158, 0.4);
}
main .page-content #ctrl .mdl-textfield--align-right.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable:after {
  content: " ";
  display: inline-block;
  margin-left: 32px;
}
main .page-content #ctrl button.mdl-button {
  color: rgba(92, 92, 92, 0.9);
}
main .page-content #ctrl button.mdl-button span {
  vertical-align: middle;
}
main .page-content #pages-index {
  font-size: 1.1rem;
  color: #ccc;
}
main .page-content #pages-index .pages-ctrl a {
  text-decoration: none;
  color: inherit;
}
main .page-content #pages-index .pages-ctrl a:hover {
  color: #a4a4a4;
}
main .page-content #pages-index .pages-ctrl ul.all {
  display: inline-block;
  padding: 0;
}
main .page-content #pages-index .pages-ctrl ul.all li {
  display: inline-block;
  padding: 0 2px;
}
main .page-content #pages-index .pages-ctrl ul.all li a {
  text-decoration: none;
  color: inherit;
}
main .page-content #pages-index .pages-ctrl ul.all li a:hover {
  color: #a4a4a4;
}
main .page-content #data-list table.mdl-data-table {
  width: 100%;
}
main .page-content #data-list table.mdl-data-table thead tr th {
  font-size: 1.1rem;
}
main .page-content #data-list table.mdl-data-table thead tr th #sort {
  padding: 0;
  min-width: 0;
  color: #CCC;
}
main .page-content #data-list table.mdl-data-table tbody tr td:not(:first-child) {
  padding: 12px 34px 12px 18px;
}

/*# sourceMappingURL=style.css.map */
