html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#center {
  display: table;
  height: inherit;
  width: inherit;
  &:before {
    content: " ";
    display: table-row;
  }

  text-align: center;

  > * {
    margin: 0 auto;
  }
}
body{

}